---
import TextLink from "@components/TextLink.astro";
import { resolvePath } from "@lib/utils";

type Props = {
  small?: boolean;
};

const { small } = Astro.props;
---

<div style={small ? "font-size: 0.875rem" : ""}>
  <p>
    Currently a student based in Singapore, interested in software engineering, compilers and occasionally math.
  </p>

  <span>
    Here are some things I've built over the years:
  </span>

  <ul>
    <li>A movie aggregator <TextLink href="https://lczm.github.io/watchwhatwhere">watchwhatwhere</TextLink></li>
    <li>A web view for NLB seating availability <TextLink href="https://lczm.github.io/nlb-seatings">nlb-seatings</TextLink></li>
    <li>A flash cards web app <TextLink href="https://lczm.github.io/memplease">memplease</TextLink></li>
    <li>A toy programming language <TextLink href="https://github.com/lczm/as">as</TextLink></li>
    <li>A 3D game engine <TextLink href="https://github.com/lczm/lucid">lucid</TextLink></li>
    <li>A board climbing helper <TextLink href="https://lczm.github.io/boardbuddy">BoardBuddy</TextLink></li>
  </ul>
</div>
